{
  "presets": [
    ["env", {
      "target": {
        "browsers": [
          "last 2 versions"
        ]
      },
      "modules": false,
      "useBuiltins": true,
    }],
    "react",
    "stage-2"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
