@import './variables.scss';

html {
    height: 100%;
}

.content {
    min-height: calc(100vh - 80px);
}

footer {
    margin-top: 30px;
    height: 50px;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid $cloud-gray;
}

.footer-separator {
    margin: 0 10px;
}
