@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Nunito");
.settings-buttons > button {
  margin-right: 10px;
  border: none;
  color: white;
  padding: 10px; }
  .settings-buttons > button.delete-project {
    background-color: #e74c3c; }
  .settings-buttons > button.private-project {
    background-color: #f39c12; }
  .settings-buttons > button.save {
    background-color: #58b208; }
