.resource-logs {
  background-color: #151515;
  padding: 15px;
  color: #00CC00;
  font-family: monospace;
  border-radius: 5px;
  min-height: 400px; }
  .resource-logs p {
    margin-top: 5px;
    margin-bottom: 5px; }
