@import './variables.scss';
@import './table.scss';
@import './vertical-navigation.scss';
@import './tab-pane.scss';
@import './header.scss';
@import './board.scss';
@import './bootstrap-grid.css';
@import './bootstrap-form.css';
@import './project-settings.scss';
@import './table-toolbar.scss';
@import './footer.scss';
@import './collaborators.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $body-font-stack;
}
