@import './variables.scss';
@import './table.scss';
@import './vertical-navigation.scss';
@import './tab-pane.scss';
@import './header.scss';
@import './bootstrap-grid.css';
@import './file-viewer-toolbar.scss';
@import './footer.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $body-font-stack;
}
