@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Nunito");
div.tabs {
  margin-top: 30px; }
  div.tabs ul {
    list-style-type: none;
    padding-left: 0; }
    div.tabs ul .nav-item {
      display: inline;
      padding: 10px;
      border-top: solid 1px #ecf0f1;
      border-left: solid 1px #ecf0f1;
      border-right: solid 1px #ecf0f1;
      border-radius: 2px;
      margin: 5px; }
    div.tabs ul .nav-item:hover {
      border-top: solid 1px #58b208;
      border-left: solid 1px #58b208;
      border-right: solid 1px #58b208; }
    div.tabs ul .nav-item a {
      text-decoration: none;
      color: black; }
    div.tabs ul .nav-item a.active {
      font-weight: bold;
      color: #58b208; }
