@import './variables.scss';

div.tabs {
    margin-top: 30px;
    ul {
        list-style-type: none;
        padding-left: 0;
        & .nav-item {
            display: inline;
            padding: 10px;
            border-top: solid 1px $cloud-gray;
            border-left: solid 1px $cloud-gray;
            border-right: solid 1px $cloud-gray;
            border-radius: 2px;
            margin: 5px;
        }
        & .nav-item:hover {
            border-top: solid 1px $primary-color;
            border-left: solid 1px $primary-color;
            border-right: solid 1px $primary-color;
        }
        & .nav-item a {
            text-decoration: none;
            color: black;
        }
        & .nav-item a.active {
            font-weight: bold;
            color: $primary-color;
        }
    }
}
