@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Nunito");
table {
  border-collapse: collapse;
  width: 100%; }

table tr {
  line-height: 30px; }

table tr.selected {
  background-color: #e8fdd5; }

table, th, td {
  border-top: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  padding: 15px; }

table th {
  font-weight: bold;
  font-size: 1.1em;
  text-align: left; }

table tr.selected {
  background-color: #e8fdd5; }
