@import './variables.scss';

table {
    border-collapse: collapse;
    width: 100%;
}

table tr {
    line-height: 30px;
}

table tr.selected {
    background-color: $light-primary-color;
}

table, th, td {
    border-top: 1px solid $silver-gray;
    border-bottom: 1px solid $silver-gray;
    padding: 15px;
}

table th {
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
}

table tr.selected {
    background-color: $light-primary-color;
}
